.error {
  color:  #be0e34;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 12.5px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('src/assets/img/background/bk-1.png');
  background-size: cover;
  background-position: center;
}

.card-register {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
}

p.title{
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 1.4px;
}

.card-register .name-input {
   display: block;
   width: auto;
}

.card-register .mail-input {
  display: block;
  width: auto;
}

.card-register .password-input {
  display: block;
  width: auto;
}

button.btn-register {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}


p.register_text{
  font-size: 12px;
  letter-spacing: 0.5px;
}
.register_text strong{
  letter-spacing: 1px;;
}
