<mat-progress-bar mode="indeterminate" *ngIf="loadingBar"></mat-progress-bar>
<mat-card>
  <div class="busqueda">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input  autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn" (click)="nuevoRegistro()">Agregar</button>
  </div>

  <div class="table">
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z5">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.index +1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria.nombre}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="disponible">
        <th mat-header-cell *matHeaderCellDef> Disponible </th>
        <td mat-cell *matCellDef="let element"> {{element.disponible}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="btn-edit" matTooltip="Editar Producto" (click)="openDialog(element)">edit</mat-icon>
          <mat-icon class="btn-delete" matTooltip="Eliminar Producto" (click)="deleteProducto(element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>


</mat-card>
